<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_height="0dp"
    android:layout_width="0dp">
    <item android:id="@+id/clear"

        android:title="Clear"
        android:showAsAction="ifRoom"/>
    <item android:title="Edit"
        android:id="@+id/my_menu_item">
        <!-- A empty SubMenu -->
        <menu></menu>
    </item>

    <item android:id="@+id/exit"
        android:title="Exit" />

</menu>